@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@System.Configuration.ConfigurationManager.AppSettings["ApplicationTitle"]</h1>
    <p class="lead">This is a sample application for demo purposes.</p>
    <p><a href="http://www.4tecture.ch" class="btn btn-primary btn-lg">Visit our website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application Lifecycle Management</h2>
        <p>
            Advice on the strategic launch of the Team Foundation Server (TFS) and support for the continuous improvement of the software development process by individual adjustments.
        </p>
        <p><a class="btn btn-default" href="http://www.4tecture.ch">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We develop your software efficiently</h2>
        <p>Implementation of many software development projects in the industrial sector, the medical sector and in the financial sector.</p>
        <p><a class="btn btn-default" href="http://www.4tecture.ch">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Training</h2>
        <p>Many years of experience in the training and coaching of software developers.</p>
        <p><a class="btn btn-default" href="http://www.4tecture.ch">Learn more &raquo;</a></p>
    </div>
</div>